

		<div class="content" style="height:100%" >
                    <div class="container">
                        <div class="section">

				<button class="btn btn--primary" onclick="openDevice('')">Add Device</button>
				<!--
				<button class="btn btn--primary" ng-click="openDeviceModal('')">Add Device Angular</button>
				<a class="btn btn--primary" href="newworkflow.php">Refresh Authentication</a>
				-->

				<br><br>
				<div class="alert alert--warning" style="margin: 15px 0;" ng-if="showMessage">
            				<div class="alert__icon icon-warning-outline"></div>
            				<div class="alert__message">
                				<h4 ng-bind="messageTitle"></h4>
                				<div ng-bind="messageText"></div>
            				</div>
        			</div>


				<div class="panel panel--bordered panel--bordered">

					<table class="table">
        					<thead>
            					<tr>
                					<th>Name</th>
                					<th>Type</th>
                					<th>IP</th>
                					<th>Status</th>
                					<th>Passthrough Endpoint</th>
							<!--<th>Last Refresh</th>-->
							<!--<th>API Reference</th>-->
            					</tr>
        					</thead>
        					<tbody>
						<tr ng-repeat="caneDevice in myDevices">
							<td><a href="#" ng-click="openDeviceModal(caneDevice.device.name)">{{ caneDevice.device.name }}</a></td>
    							<td>{{ caneDevice.device.authType }}</td>
    							<td>{{ caneDevice.device.url }}</td>
							<td>
								<span ng-if="caneDevice.Status == 0" class="icon-remove-outline icon-medium text-muted"></span>
								<span ng-if="caneDevice.Status == 1" class="icon-check-outline icon-medium text-success"></span>
								<span ng-if="caneDevice.Status == 2" class="icon-warning-outline icon-medium text-warning"></span>
							</td>
    							<td>{{ caneDevice.endpoint }}</td>
							<!--<td>{{ caneDevice.lastRefresh }}</td>-->
							<!--<td><a href="{{ caneDevice.libUrl }}"><span class="icon-popup-dialogue icon-medium"></span></a></td>-->
  						</tr>
        					</tbody>
    					</table>
	
        			</div>

                        </div>
                    </div>

<div class="modal hide" id="modal-newDevice">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-newDevice')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <h1 class="modal__title">Add New CANE Device</h1>
            </div>
            <div class="modal__body">

                <div class="form-group half-margin-bottom">
                   <div class="form-group__text">
                           <input id="input-type-email" type="text" value="{{ editDevice.name }}" ng-model="name">
                           <label for="input-type-email">Name</label>
                   </div>       
                </div>          
                <div class="form-group half-margin-bottom">
                   <div class="form-group__text">
                           <input id="input-type-email" type="text" value="{{ editDevice.ip }}" ng-model="ipaddress">
                           <label for="input-type-email">URI</label>
                   </div>       
                </div>          

		<div class="form-group">
            		<div class="form-group__text select">
				<select id="" ng-model="authtype">
                			<option value="none" selected>No Authentication</option>
                			<option value="basic">Basic </option>
                			<option value="session">Session </option>
                			<option value="apikey">APIKey </option>
                			<option value="rfc3447">RFC 3447 </option>
				</select>
                		<label for="select-size-default">Type</label>
            		</div>
        	</div>
		<br>

		<div ng-if="authtype == 'rfc3447'">
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-pubkey" type="text" value="" ng-model="$parent.rfc3447_public">
                           		<label for="input-type-pubkey">Public Key</label>
                   		</div>               
                	</div>                  
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-privkey" type="text" value="" ng-model="$parent.rfc3447_private">
                           		<label for="input-type-privkey">Private Key</label>
                   		</div>                       
                	</div>                          
		</div>

		<div ng-if="authtype == 'apikey'">
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-header" type="text" value="" ng-model="$parent.apikey_header">
                           		<label for="input-type-header">Header</label>
                   		</div>               
                	</div>                  
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-email" type="text" value="" ng-model="$parent.apikey_key">
                           		<label for="input-type-email">Key</label>
                   		</div>                       
                	</div>                          
		</div>

		<div ng-if="authtype == 'session'">
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-sessionusername" type="text" value="" ng-model="$parent.session_username">
                           		<label for="input-type-sessionusername">Username</label>
                   		</div>               
                	</div>                  
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-sessionpassword" type="text" value="" ng-model="$parent.session_password">
                           		<label for="input-type-sessionpassword">Password</label>
                   		</div>               
                	</div>                  
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-authbody" type="text" value="" ng-model="$parent.session_authbody">
                           		<label for="input-type-authbody">Auth Body</label>
                   		</div>                       
                	</div>                          
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-authmap" type="text" value="" ng-model="$parent.session_authbodymap">
                           		<label for="input-type-authmap">Auth Body Map</label>
                   		</div>               
                	</div>                  
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-lifetime" type="text" value="" ng-model="$parent.session_lifetime">
                           		<label for="input-type-lifetime">Cookie Lifetime</label>
                   		</div>                       
                	</div>                          
		</div>

		<div ng-if="authtype == 'basic'">
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-email" type="text" value="" ng-model="$parent.basic_username">
                           		<label for="input-type-email">Username</label>
                   		</div>               
                	</div>                  
                	<div class="form-group half-margin-bottom">
                   		<div class="form-group__text">
                           		<input id="input-type-email" type="password" value="" ng-model="$parent.basic_password">
                           		<label for="input-type-email">Password</label>
                   		</div>                       
                	</div>                          
                </div>                          
                                        
            </div>                      
            <div class="modal__footer"> 
                <button class="btn" onclick="closeModal('modal-newDevice')">Cancel</button>
                <button class="btn btn--primary" ng-click="addCaneDevice()" onclick="closeModal('modal-newDevice')">Save</button>
            </div>                              
        </div>                                  
    </div>                                      
</div> 

<div class="modal hide" ng-repeat="caneDevice in myDevices" id="modal-editDevice-{{ caneDevice.name }}">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" ng-click="closeDeviceModal(caneDevice.name)"><span class="icon-close"></span></a>
            <div class="modal__header">
                <h1 class="modal__title">Modify CANE Device</h1>
            </div>
            <div class="modal__body">

                <div class="form-group half-margin-bottom">
                   <div class="form-group__text">
                           <input id="" type="text" ng-value="caneDevice.name" ng-model="name">
                           <label for="">Name</label>
                   </div>       
                </div>          
                <div class="form-group">
                        <div class="form-group__text select">
                                <select id="" ng-model="authtype">
                                        <option value="xxx">UCS Director</option>
                                        <option value="xxx">DNA Center</option>
                                        <option value="xxx">Meraki</option>
                                        <option value="rfc3447">Intersight</option>
                                        <option value="basic">Generic with Basic Auth</option>
                                        <option value="session">Generic with Session Auth</option>
                                        <option value="apikey">Generic with APIKey Auth</option>
                                        <option value="rfc3447">Generic with RFC 3447 Auth</option>
                                </select>
                                <label for="select-size-default">Type</label>
                        </div>
                </div>
                <div class="form-group half-margin-bottom">
                   <div class="form-group__text">
                           <input id="input-type-email" type="text" value="{{ caneDevice.ip }}" ng-model="ipaddress">
                           <label for="input-type-email">IP Address</label>
                   </div>       
                </div>          

                <div class="form-group half-margin-bottom">
                   <div class="form-group__text">
                           <input id="input-type-email" type="text" value="{{ caneDevice.username }}" ng-model="username">
                           <label for="input-type-email">Username</label>
                   </div>               
                </div>                  
                <div class="form-group half-margin-bottom">
                   <div class="form-group__text">
                           <input id="input-type-email" type="password" value="{{ caneDevice.password }}" ng-model="password">
                           <label for="input-type-email">Password</label>
                   </div>                       
                </div>                          
                                        
            </div>                      
            <div class="modal__footer"> 
                <button class="btn" ng-click="closeDeviceModal(caneDevice.name)">Cancel</button>
                <button class="btn btn--primary" ng-click="addCaneDevice()" >Save</button>
            </div>                              
        </div>                                  
    </div>                                      
</div> 



                </div>
<div class="modal-backdrop hide"></div>


