                <div class="content">
                    <div class="container">
                        <div class="absolute-center text-center">

				<div class="panel panel--bordered panel--raised-small" style="padding: 25px 50px;">
                            		<h1>CANE</h1>
			    		<div class="subheader" style="padding: 0 20px;">The Cisco API Normalization Engine</div>
					<br>
				
        				<div class="form-group half-margin-bottom">
            				<div class="form-group__text">
                				<input id="input-username" type="text" ng-model="username">
                				<label for="input-username">Username</label>
            				</div>
        				</div>
        				<div class="form-group half-margin-bottom">
            				<div class="form-group__text">
                				<input id="input-password" type="password" ng-model="password">
                				<label for="input-password">Password</label>
            				</div>
        				</div>

					<br>
					<button class="btn btn--primary" ng-click="doCaneLogin()">Login</button>
					<br>
					<br>
					<!--<a href="#/signup">Create New Account</a>-->
        			</div>

                        </div>
                    </div>
                </div>
