			<div class="content">
                    <div class="container">
                        <div class="absolute-center text-center">
    
                                <div class="panel panel--bordered panel--raised-small" style="padding: 25px 100px;">
	
                            		<h1>CANE</h1>
			    		<div class="subheader">The Cisco API Normalization Engine</div>

					<div class="alert alert--warning" style="margin: 15px 0;" ng-if="showMessage">
                                        	<div class="alert__icon icon-warning-outline"></div>
                                        	<div class="alert__message">
                                                	<div ng-bind="messageText"></div>
                                        	</div>
                                	</div>
				
					<br>
        				<div class="form-group half-margin-bottom">
            					<div class="form-group__text">
                					<input id="input-fname" type="text" ng-model="fname">
                					<label for="input-fname">First Name</label>
            					</div>
        				</div>
        				<div class="form-group half-margin-bottom">
            					<div class="form-group__text">
                					<input id="input-lname" type="text" ng-model="lname">
                					<label for="input-lname">Last Name</label>
            					</div>
        				</div>
        				<div class="form-group half-margin-bottom">
            					<div class="form-group__text">
                					<input id="input-username" type="text" ng-model="username">
                					<label for="input-username">Username</label>
            					</div>
        				</div>
        				<div class="form-group half-margin-bottom">
            					<div class="form-group__text">
                					<input id="input-password" type="password" ng-model="password">
                					<label for="input-password">Password</label>
            					</div>
        				</div>

					<br>
					<button class="btn btn--primary" ng-click="doCaneCreateAccount()">Create Account</button>

        			</div>
