
		<div class="content" style="height:100%" >
                    <div class="container">
                        <div class="section">
				<a class="btn btn--primary" href="#/workflows/new">New Workflow</a><br><br>

				 <div class="panel panel--bordered panel--bordered">

				<table class="table">
					<tr>
						<th>Endpoint Name</th>
						<th>Category</th>
						<th>Description</th>
						<th></th>
						<th></th>
					</tr>
					<tr ng-repeat="workflow in workFlowList">
						<td><a href="#">{{ workflow.name }}</a></td>
						<td>{{ workflow.type }}</td>
						<td>{{ workflow.description }}</td>
						<td><button ng-click="startWorkflow(workflow.name)" class="btn btn--small btn--icon btn--success"><span class="icon icon-play"></span></button></td>
						<td><button ng-click="deleteWorkflow(workflow.name)" class="btn btn--small btn--icon btn--negative"><span class="icon icon-trash"></span></button></td>
					</tr>
				</table>

                        	</div>
                        </div>
                    </div>
                </div>

<div class="modal-backdrop hide"></div>

<div class="modal hide" id="modal-feedback">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-feedback')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <h1 class="modal__title">New Workflow</h1>
            </div>
            <div class="modal__body">
			
            </div>
            <div class="modal__footer">
                <button class="btn" onclick="closeModal('modal-feedback')">Cancel</button>
                <button class="btn btn--primary" onclick="closeModal('modal-feedback')">Save</button>
            </div>
        </div>
    </div>
</div>

